:root {
    --background: #222;
    --main-color: #3080db;
    --text-color: #BBB;
    --hover-color: #1d4e87;
    --menu-background: #124075;
    --footer-text-color: rgba(232, 230, 230, 0.628);
    --header-color: #EEE;
    --blockquote-color: #999;
    --blockquote-background: #222;
    --table-even-row: #173c67;
}
